<h1>Compose a New Post</h1>
<hr>
Title: <input type="text" ng-model="title">
<br>
Category: <select ng-model="categoryid">
    <option value="">Select a Category</option>
    <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
</select>
<br>
User: <select ng-model="userid">
    <option value="">Select a User</option>
    <option ng-repeat="user in users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
</select>
<br>
<textarea cols="30" rows="10" ng-model="content"></textarea>
<br>
<button ng-click="savePost()">Save Post</button>